<nav class="nav nav-masthead justify-content-center float-md-end">
  <li>
    <a
      href="https://sakynasty.com"
      class="nav-link fw-bold py-1 px-0 mr-20"
      title="Home"
      rel="noopener"
    >
      Home
    </a>
  </li>
  <li>
    <a
      href="/"
      class="nav-link fw-bold py-1 px-0 mr-20 active"
      title="RolePlay"
      rel="noopener"
    >
      RolePlay
    </a>
  </li>
  <li>
    <a
      href="https://status.sakynasty.com/monitors"
      class="nav-link fw-bold py-1 px-0 mr-20"
      title="Status"
      rel="noopener"
    >
      Status
    </a>
  </li>
  <li>
    <a
      href="https://links.sakynasty.com"
      class="nav-link fw-bold py-1 px-0 mr-20"
      title="All Links"
      rel="noopener"
    >
      All Links
    </a>
  </li>
</nav>
