<article id="intro">
  <h2 class="major">Introduction</h2>
  <p>
    Le {{ page.title }}{{ page.character }} c'est éveillé avec plus d'1 Tomoe
    pour la bonne raison que ce qu'à vécu {{ page.character }} est plus que
    suffisant.
  </p>
  {% include uchiha/video.html name="obito_2tomoe" %}
  <p class="mt-20">
    Comme vous pouvez le voir, lors de la vidéo, Obito ayant peur de perdre
    potentiellement Kakashi ou de le voir trop blessé lors d’un affrontement, ce
    dernier à éveillée son Sharingan directement avec 2 Tomoe.
  </p>
  <p>
    De plus, même sans parler d’Obito qui est “un grand utilisateur du
    Sharingan” à terme, nous avons dans un cas beaucoup moins grave et sans
    guerre réel entre les villages, Sarada qui a éveillé son second Tomoe pour
    la même raison en sauvant Boruto.
  </p>
  {% include uchiha/video.html name="sarada_2tomoe" %}
  <p class="mt-20">
    Et ne parlons même pas de l’éveil 1 Tomoe de Sarada qu’Akane a totalement
    compensé via le fait qu’elle a failli y mourir est a était sauvée, sinon
    elle aurait finis comme Obito.
  </p>
  {% include uchiha/video.html name="sarada_1tomoe" %}
  <p class="mt-20">
    Et puis… Ne parlons même pas de la fraude Madara sur “Tu n’est plus mon
    copain” et boum To. 1…
  </p>
  {% include uchiha/video.html name="madara_1tomoe" %}
  <p class="mt-20">
    Du coup, maintenant que nous avons vu qu’en termes de Naruto pur,
    techniquement elle aurait totalement pu avoir les 2.
  </p>
</article>
