---
permalink: sharingan/akane
layout: uchiha
link_1: intro
link_name_1: Intro
link_2: 1-2tomoe
link_name_2: To. 1 & 2
title: Sharingan d'
character: Akane
author: Saskya
---

<!-- @Introduction with pages/akane_uchiha/intro.html -->
{% include pages/akane_uchiha/intro.html %}
<!-- //Introduction with pages/akane_uchiha/intro.html -->

<!-- @First/Seconds Tomoe & Awakening with pages/akane_uchiha/tomoe/1-2.html -->
{% include pages/akane_uchiha/tomoe/1-2.html %}
<!-- //First/Seconds Tomoe & Awakening with pages/akane_uchiha/tomoe/1-2.html -->
