---
permalink: uchiha/sharingan/akane
description: Un petit site explicatif démontrant les scènes sur le pourquoi du comment Akane a éveillé ses Tomoe du Sharingan.
og_image: assets/themes/uchiha/videos/poster/sharingan_0.png
og_image_alt: A two eyes in black background with sharingan 3 tomoe
layout: uchiha

character: Akane
pupil: Sharingan
rank: Chunin 1 année
author: Saskya

link_1: intro
link_name_1: Intro
link_2: 1-2tomoe
link_name_2: To. 1 & 2

image: viewerjs
video: videojs
---

<!-- @Introduction with pages/akane_uchiha/intro.html -->
{% include pages/akane_uchiha/intro.html %}
<!-- //Introduction with pages/akane_uchiha/intro.html -->

<!-- @First/Seconds Tomoe & Awakening with pages/akane_uchiha/tomoe/1-2.html -->
{% include pages/akane_uchiha/tomoe/1-2.html %}
<!-- //First/Seconds Tomoe & Awakening with pages/akane_uchiha/tomoe/1-2.html -->
