<div
  class="modal fade"
  id="list"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="list"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content text-bg-dark bg-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="list">Liste des personnages</h1>
      </div>
      <div class="modal-body modal-start">
        <p>
          <small>+: Personnage jouer actuellement.</small>
          <br />
          <small>=: Personnage en vie.</small>
          <br />
          <small>*: Personnage abandonné car arrêt du serveur.</small>
          <br />
          <small>%: Personnage RPK/mort.</small>
        </p>
        <h4>Konoha</h4>
        <h5>Uchiha / Uchiwa</h5>
        <p>
          =*
          <a
            href="https://docs.google.com/document/d/1Fi_XnPdV69BGFvll9BmYp2EuAZbGa7UfaAi-_lLh5V8/edit?usp=sharing"
            title="Voir l'histoire du personnage"
            target="_blank"
            rel="noopener"
          >
            Akane & Akemi
          </a>
          =>
          <a
            href="{{ site.url }}/uchiha/sharingan/akane"
            title="Voir la page"
            target="_blank"
            rel="noopener"
          >
            Sharingan
          </a>
        </p>
        <h4>Suna</h4>
        <p>Actuellement aucun personnages.</p>
        <h4>Kumo</h4>
        <p>Actuellement aucun personnages.</p>
        <h4>Kiri</h4>
        <p>Actuellement aucun personnages.</p>
        <h4>Iwa</h4>
        <p>Actuellement aucun personnages.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
