<article id="1-2tomoe">
  {% if page.image == "viewerjs" %}
  <div id="viewerjs">
    {% endif %}
    <h2 class="major">Tomoe 1 & 2</h2>
    <p>
      Nous avons divisé la demande de Tomoe en 2 scènes, et en 2 moments
      distincts dans la même journée pour Akane néanmoins, comme dit, c’est la
      même journée, et tout c’est quand même relativement enchaînée donc elle
      n’as pas pu récupéré énormément entre les deux évènements ce qui as causé
      le fait que les premiers ont pas mal influée sur sa sensibilité émotionnel
      suivant.
    </p>
    <h2 class="major">l’Éveil (To. 1)</h2>
    <p>Nous allons donc désormais parler de l’éveil basique, Tomoe 1.</p>
    <p>
      Nous sommes partie avec Seiko Uzumaki vers une Mission de Recherche pour
      une Plante Médicinale de la Section Médicale, en premier temps tout ce
      passe correctement, nous sommes partie à la vallée de la fin, nous avons
      récupéré ce que nous recherchons est autres.
    </p>
    <p>
      Néanmoins, à un moment, alors que nous étions prêt des montagnes de la
      vallée, un éboulement de roche s’abat sur nous, en premier 1 puis 2, nous
      avons décalée, jusqu’à ce qu’un tas complet tombe sur notre zone.
    </p>
    <p>Seiko a du inextrémiste me sauver d’une #Obito-like.</p>
    {% include uchiha/image.html name="1tomoe" %}
    <p>
      La scène a beaucoup stressé Akane de premièrement par son âge qui était 11
      ans à ce moment, d’autant plus qu’elle n’était jamais sortie réellement
      trop de Konoha, et encore moins aussi loin.
    </p>
    <p>
      De plus, ils sont descendus d’une des falaises avant d’avoir un éboulement
      sur eux, ce qui a commencé à leur faire peur, avant que ces derniers
      deviennent trop dangereux pour eux et que Akane ne sois pas assez rapide
      pour pouvoir y échapper et donc… risque potentiellement d’y rester ou
      d’être gravement blessé, mais heureusement Seiko était là.
    </p>
    <p>
      Comme nous l'avons vu, l’éveil du Sharingan To. 1 est surtout due à une
      capacité corporelle plus qu’à des événements réellement extrêmes ou méga
      dramatique, au contraire, le fait que Sasuke n’ai pas éveillée un To. 2
      voir 3 pour la décimation de son clan, c’est honteux, mais bref.
    </p>
    <p>
      Le corps d’Akane y est apte, elle a vécu les émotions, elle pensait
      potentiellement mourir, donc…
    </p>
    <p>Ils ont donc par la suite voulu rentrer au village mais…</p>
    <h3 class="major">Réaction de Seiko si dossier accepter</h3>
    <p>
      À ce moment, techniquement, Seiko a vu les Sharingan d’Akane s'éveiller et
      ne pas durer longtemps une fois secourue et plus sereine, mais surtout en
      sécurité néanmoins, il la garda pour lui-même à ce moment-là, afin de ne
      pas lui faire peur ou autres.
    </p>
    <p>
      A la page n°17 du
      <a
        href="https://docs.google.com/presentation/d/1PYSq-4d3Pcwrz8SoK1bu8AklcR4uXw_srL9ZuSyrsdU/edit"
        target="_blank"
        title="Scene RP | SFC par Knighty"
        rel="noopener"
      >
        document</a
      >
      pour avoir un point de vue purement Seiko sans réaction et l’activation.
      Au moment de la demande, mais si accepter, cela sera adapté.
    </p>
    <h2 class="major">l’Inconnu(e) (To. 2)</h2>
    <p>
      En rentrant vers Konoha, devant la porte nous avons remarqué et vu un
      Serpent Bleu, nous sommes donc venus à son contact néanmoins ce dernier
      n’agissant pas n’y vers le contact, n’y vers la haine, et ne voulant rien
      faire à première vue, nous l’avons laissé est sommes rentrée dans le
      village.
    </p>
    <p>
      En souhaitant refermer la porte de Konoha, nous avons revu le Serpent Bleu
      à côté.
    </p>
    {% include uchiha/image.html name="snake_find" %}
    <p>
      Nous avons tout d’abord essayé de communiquer avec lui à nouveau, ainsi
      que de le nourrir, il acceptait notre nourriture, néanmoins, il n’était
      absolument pas bavard ou communicant dans son attitude, il restait
      globalement statique en nous fixant.
    </p>
    <p>
      Petit à petit, il mangeait les baies qu'Akane lui offrait néanmoins, elle
      développa également un stress grandissant pour quand elle en aurait plus,
      comment il réagirait.
    </p>
    {% include uchiha/image.html name="snake_eat" %}
    <p>
      La personnalité d’Akemi essaya donc de calmer Akane en conséquence
      néanmoins disons qu’un roll 30… Même si on met 50 bah… Elle n'est pas
      vraiment très utile en vérité…
    </p>
    {% include uchiha/image.html name="snake_akemi_useless" %}
    <p>
      Par la suite, nous avons tenté de comprendre ce que le Serpent Bleu
      souhaitait et autres, nous lui avons donc proposé de venir s’accrocher à
      l'un d’entre nous (celui de son choix), ce fut étrangement Akane (qui est
      une question actuellement encore sans réponse).
    </p>
    {% include uchiha/image.html name="snake_neutralzone" %}
    <p>
      Nous allons donc en direction du pays neutre en essayant de trouver un
      endroit de vie pour ce dernier, a un moment Seiko monte une montagne
      néanmoins Akane tente désespérément de demander un coup de main au Serpent
      Bleu, ce que ce dernier réussit à faire et a accepté de collaborer avec
      elle.
    </p>
    <p>
      Un peu plus rassurée suite à ses échanges amicaux entre elle & le Serpent
      Bleu les émotions d’Akane se calme légèrement bien que toujours fragilisée
      par les dernières heures de l’éboulement et leur peu de repos entre deux.
    </p>
    <p>
      L’endroit n'avait pas l’air de lui convenir, ils ont donc a 3 décidé de
      chercher un nouvel endroit, ils ont essayer une maison et autres aux pays
      neutre avant de tenter la zone de Suna alias le désert.
    </p>
    <p>
      En allant dans le désert, en s’y enfonçant, des animaux commencés à
      devenir menaçant et a attaquer Seiko & Akane, étant encerclée avec le
      serpent sur elle, elle paniqua est lança du Katon sur tous ceux qui
      l’entoura (bien heureusement, Seiko n’y était pas.).
    </p>
    <p>
      Par la suite parfois le Serpent Bleu les aide à combattre les animaux de
      plus en plus dangereux au point de mettre à mal Akane, mais heureusement,
      ce n’était que de la forte peur et des blessures superficielles. (La barre
      de vie était genre à 500HP a un moment… Bref j’ai vraiment presque K.O.
      banale, et ceux plusieurs fois pendant les combats)
    </p>
    <p>
      Akane paniquée de plus en plus, demandant à Seiko de sortir de la surface
      et de la zone désertique de Suna en vue du grand danger qui était la…
    </p>
    <p>
      Ensuite, en essayant de rentrer à Konoha, les combats avec la faune
      continuent, mais de moins en moins violemment permettant à Akane de
      respirer un peu plus…
    </p>
    <p>
      Arrivant devant Konoha, ils essayèrent une dernière fois de communiquer
      avec le Serpent Bleu afin d’obtenir des informations…
    </p>
    {% include uchiha/image.html name="snake_final" %}
    <p>
      Ce dernier a répondu à la surprise des deux ninjas en parlant humainement
      avec un accent Méxicain pour signaler qu’il s’appelle Aoda.
    </p>
    <p>
      Par la suite, ce dernier a dû partir, laissant une grande fumée blanche
      devant la porte de Konoha #KiriBrumeux.
    </p>
    <p>
      En essayant de reprendre ses esprits avec Seiko, en marchant dans la zone
      marchande de Konoha, Seiko tomba endormie ce qui inquiéta Akane avant
      qu’elle-même ne s'endormît en plein milieu…
      <i>(Et non j’ai pas était voir Kyubi xD)</i>
    </p>
    <p>
      En se faisant réveiller par Seiko, elle était perdue, ne sachant pas
      pourquoi elle s'était endormie comme ça, et ayant du mal à reprendre ses
      esprits…
    </p>
    <p>
      Le lendemain elle écrira sur un parchemin ses pensées avec Akemi pour
      essayer de remettre ses idées en place, bien qu’encore beaucoup
      chamboulée…
    </p>
    {% include uchiha/image.html name="narration" %}
    <h3 class="major">Réaction de Seiko si dossier accepter</h3>
    <p>Il n'a pas vu l’évolution du Sharingan en To. 2</p>
    <h3 class="major">Réaction d’Akane dans tout sa si dossier accepter</h3>
    <p>
      Akane n’est tout simplement pas consciente d’avoir éveillé son Sharingan,
      elle parla encore de “si je l’éveil” et autres, néanmoins, durant les deux
      moments d’activation et d’évolution, elle se sentit comme vider de son
      chakra et étrange comparé à d’habitude (les effets du sharingan quoi…)
    </p>
    {% if page.image == "viewerjs" %}
  </div>
  {% endif %}
</article>
