<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta property="og:locale" content="fr_FR" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{site.url}}/assets/themes/{{ page.layout }}/images/favicon.png"
    />

    <title>
      {{ page.pupil }} ← {{ page.character }} {{ page.layout | capitalize }} ←
      {{ site.name }}
    </title>
    <meta
      property="og:title"
      content="{{ page.pupil }} ← {{ page.character }} {{ page.layout | capitalize }} ← {{ site.name }}"
    />
    <meta
      property="twitter:title"
      content="{{ page.pupil }} ← {{ page.character }} {{ page.layout | capitalize }} ← {{ site.name }}"
    />

    <meta name="description" content="{{ page.description }}" />
    <meta name="og:description" content="{{ page.description }}" />
    <meta property="twitter:description" content="{{ page.description }}" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}{{ page.permalink }}" />
    <meta property="twitter:url" content="{{ site.url }}{{ page.permalink }}" />

    <meta property="og:site_name" content="{{ site.name }}" />
    <meta name="author" content="{{ site.author }}" />

    <meta property="og:image" content="{{ site.url }}/{{ page.og_image }}" />
    <meta
      property="og:image:secure_url"
      content="{{ site.url }}/{{ page.og_image }}"
    />
    <meta
      property="twitter:image"
      content="{{ site.url }}/{{ page.og_image }}"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1080" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="og:image:alt" content="{{ page.og_image_alt }}" />

    {% if page.video == "videojs" %}
    <link
      rel="stylesheet"
      href="{{ site.url }}/assets/themes/{{ page.layout }}/css/video-js.css"
    />
    <link
      rel="stylesheet"
      href="{{ site.url }}/assets/themes/{{ page.layout }}/css/vjs-theme-city.min.css"
    />
    <!--[if lt IE 9]>
      <script src="{{site.url}}/assets/themes/{{ page.layout }}/js/videojs-ie8.min.js"></script>
    <![endif]-->
    {% endif %} {% if page.image == "viewerjs" %}
    <link
      rel="stylesheet"
      href="{{ site.url }}/assets/themes/{{ page.layout }}/css/viewer.min.css"
    />
    {% endif %}
    <link
      rel="stylesheet"
      href="{{ site.url }}/assets/themes/{{ page.layout }}/css/main.css"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="{{ site.url }}/assets/themes/{{ page.layout }}/css/noscript.css"
      />
    </noscript>

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
  </head>
  <body class="is-preload">
    <div id="wrapper" class="div">
      <header id="header">
        <div class="logo div">
          <img
            src="{{ site.url }}/assets/themes/{{ page.layout }}/images/clan.png"
            width="50"
            height="70"
            alt="Clan {{ page.layout | capitalize }}"
            draggable="false"
            class="mt-20"
          />
        </div>
        <div class="content div">
          <div class="inner div">
            <h1>{{ page.character }}</h1>
            <p>
              Dossier pour développer les {{ page.pupil }} pour {{
              page.character }},
              <br />
              afin de continuer l'évolution du personnage, <br />
              qui est déjà {{ page.rank }}.
            </p>
          </div>
        </div>
        <!-- @Navigation with _includes/{{ page.layout }}/navigation.html -->
        {% include {{ page.layout }}/navigation.html %}
        <!-- //Navigation with _includes/{{ page.layout }}/navigation.html -->
      </header>
      <div id="main" class="div">
        <!-- @Contents with pages/{{ page.layout }}/{{ page.pupil | downcase }}-{{
              page.character | downcase}}.html -->
        {{ content }}
        <!-- //Contents with pages/{{ page.layout }}/{{ page.pupil | downcase }}-{{
              page.character | downcase}}.html -->
      </div>
      <footer id="footer">
        <p class="copyright">
          2023 &copy; {{ page.layout | capitalize }} Page - Written by
          <a
            href="{{ site.site_author }}"
            title="{{ site.author }}"
            rel="noopener"
            target="_blank"
          >
            {{ site.author }}</a
          >
          with HTML5UP design
          <br />
          and re-edit / add (VideoJS, ViewerJS, ...) / Jekyll framework.
        </p>
      </footer>
    </div>

    <video
      autoplay
      muted
      loop
      poster="{{ site.url }}/assets/themes/{{ page.layout }}/videos/poster/sharingan_0.png"
      id="bg-video"
      class="bg"
    >
      <source
        src="{{ site.url }}/assets/themes/{{ page.layout }}/videos/sharingan_0.mp4"
        type="video/mp4"
      />
    </video>

    <script src="{{ site.url }}/assets/themes/{{ page.layout }}/js/jquery.min.js"></script>
    <script src="{{ site.url }}/assets/themes/{{ page.layout }}/js/browser.min.js"></script>
    <script src="{{ site.url }}/assets/themes/{{ page.layout }}/js/breakpoints.min.js"></script>
    <script src="{{ site.url }}/assets/themes/{{ page.layout }}/js/util.js"></script>
    <script src="{{ site.url }}/assets/themes/{{ page.layout }}/js/main.js"></script>
    <script src="{{ site.url }}/assets/themes/{{ page.layout }}/js/random-video.js"></script>
    {% if page.video == "videojs" %}
    <script src="{{ site.url }}/assets/themes/{{ page.layout }}/js/videojs.min.js"></script>
    {% endif %} {% if page.image == "viewerjs" %}
    <script src="{{ site.url }}/assets/themes/{{ page.layout }}/js/viewer.min.js"></script>
    <script src="{{ site.url }}/assets/themes/{{ page.layout }}/js/viewer-config.js"></script>
    {% endif %}
  </body>
</html>
